html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: 0;
  background-color: rgb(42 42 71);
}
.grid-item {
  border-bottom: 0;
  margin: 0;
  background-color: rgba(47, 79, 79, 0);
}

.grid-item img {
  border-radius: 7px;
  border: solid 2px #181b2c;
  margin: 3px;
  display: block;
  width: 26vw;
  height: 100%;
}

.grid-item video {
  border-radius: 7px;
  border: solid 2px #181b2c;
  margin: 3px;
  display: block;
  width: 26vw;
  height: 100%;
}

.menu-button {
  position: fixed;
  border-radius: 50px;
  border-color: rgba(240, 248, 255, 0);
  background-color: #181b2c;
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  z-index: 999;
}

.menu-button img {
  position: sticky;
  max-width: 90%;
  height: auto;
}

.grid-sizer {
  position: absolute;
  width: 100vw;
}

.grid {
  margin: 0 auto;
  width: 1230px;

  height: auto;
}

@media only screen and (max-width: 1200px) {
  .grid-item img {
    width: 40vw;
  }
  .grid-item video {
    width: 40vw;
  }
}

.reserved-space {
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.reserved-space img {
  margin: 20px;
  width: 50vw;
  max-width: 400px;
  height: auto;
}

/* Let's get this party started */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #181b2c;
  -webkit-border-radius: 5px;
  box-shadow: inset 0 0 6px #181b2c;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: rgba(73, 95, 168, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(98, 112, 126, 0.5);
  box-shadow: inset 0 0 6px rgba(98, 112, 126, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.4);
}
